body {
  .App {
    position: absolute;
    height: 100%;
    width: 100%;
    .header {
      color: whitesmoke;
      width: 100%;
      height: 10%;
      background-color: #131921;
      display: flex;
      flex-direction: row;
      .heading {
      }
      .head-buttons {
        display: flex;
        flex-direction: row;
      }
    }
    .product-page {
      width: 100%;
      height: 90%;
    }
  }
}
